.tip-clippedme {
  background-color: #f0f0f0;
  border: 1px solid #bebebe;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  box-shadow: 3px 3px 3px 3px #fbfbfb;
  color: #202020;
  max-width: 300px;
  min-width: 50px;
  padding: 6px;
  text-align: left;
  z-index: 1000;
}

.tip-clippedme .clipped-box {
  background-color: #fdfdfd;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  line-height: 1.382;
  padding: 3px;
}

.tip-clippedme h2 {
  font-weight: bold;
  margin-top: 0;
}

.tip-clippedme ul {
  padding-left: 1.382em;
}

.tip-clippedme li {
  padding-bottom: 0.618em;
}

.tip-clippedme .tip-arrow-top {
  background: url(tip-clippedme_arrows.gif) no-repeat;
  height: 6px;
  left: 50%;
  margin-left: -5px;
  margin-top: -6px;
  top: 0;
  width: 9px;
}
.tip-clippedme .tip-arrow-right {
  background: url(tip-clippedme_arrows.gif) no-repeat -9px 0;
  height: 9px;
  left: 100%;
  margin-left: 0;
  margin-top: -4px;
  top: 50%;
  width: 6px;
}
.tip-clippedme .tip-arrow-bottom {
  background: url(tip-clippedme_arrows.gif) no-repeat -18px 0;
  height: 6px;
  left: 50%;
  margin-left: -5px;
  margin-top: 0;
  top: 100%;
  width: 9px;
}
.tip-clippedme .tip-arrow-left {
  background: url(tip-clippedme_arrows.gif) no-repeat -27px 0;
  height: 9px;
  left: 0;
  margin-left: -6px;
  margin-top: -4px;
  top: 50%;
  width: 6px;
}
